
    <header class="title-banner">
      <div class=" ">
        WELCOME TO
      </div>
      <div class="title"> MARVEL MINDS</div>

    </header>
    <section class="middle-banner">
      <% if current_user %>
        <div class="logout-banner">
          <a class="desc logout-link" href="/logout">Sign Out</a>
        </div>
      <% else %>
        <div class="desc">
          Learn about Marvel comic book characters and series in a fun way!
        </div>
      <% end %>
      <article class="middle-body">
        <section class="cent-mid-body">
          <article class="top-cent">
            <a class="button-fat" id="chars-pic" href="/characters"><div>CHARACTERS</div></a>
            <a class="button-fat" id="series-pic" href="/series" ><div>SERIES</div></a>
          </article>
          <article class="bottom-cent">
            <% if current_user %>
              <a href="/favorites" id="log-to-fav" class="button-flat"><div>FAVORITES</div></a>
            <% else %>
              <a href="/login" id="log-to-fav" class="button-flat"><div>FAVORITES</div></a>
            <% end %>
            <% if flash[:notice]%>
              <div class="desc"><%= flash[:notice] %></div>
            <% elsif !(current_user) %>
              <div class="desc">Sign In Required For Favorites</div>
            <% end %>
          </article>
        </section>

      </article>
    </section>
    <footer class="footer-banner">
    </footer>
