<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Anton|Merriweather+Sans" rel="stylesheet">
  </head>
  <body>
    <header class="title-banner">
      <div class=" ">
        WELCOME TO
      </div>
      <div class="title"> MARVEL MINDS</div>

    </header>
    <section class="middle-banner">
      <div class="desc">
        Learn about Marvel comic book characters and series in a fun way!
      </div>
      <article class="">

      </article>
    </section>
    <footer class="footer-banner">
    </footer>

  </body>
</html>
