
    <header class="title-banner">
      <div class=" ">
        WELCOME TO
      </div>
      <div class="title"> MARVEL MINDS</div>

    </header>
    <section class="middle-banner">
      <div class="desc">
        Learn about Marvel comic book characters and series in a fun way!
      </div>
      <article class="middle-body">
        <section class="cent-mid-body">
          <article class="top-cent">
            <a class="button-fat" id="chars-pic" href=""><div>CHARACTERS</div></a>
            <a class="button-fat" id="series-pic" href="" ><div>SERIES</div></a>
          </article>
          <article class="bottom-cent">
            <a href="" id="log-to-fav" class="button-flat"><div>FAVORITES</div></a>
          </article>
        </section>

      </article>
    </section>
    <footer class="footer-banner">
    </footer>
