<header class="title-banner">
    <div class="title">YOUR FAVORITES</div>

</header>
<section class="middle-banner">
  <article class="middle-body">
    <%= render partial: "layouts/nav" %>
  </article>
</section>
