<form action="/users" method="POST">
  <div class="">Username</div>
  <input type="text" name="username"><br>
  <div class="">Password</div>
  <input type="text" name="password"><br>
  <input type="submit" value="CREATE ACCOUNT">
</form>
