<header class="title-banner">
    <div class="title">MARVEL CHARACTERS</div>
</header>
<section class="middle-banner">
  <article class="middle-body border">
    <%= render partial: "layouts/nav" %>
    <section class="lower-sec">
      <aside class="left-sec">
        <form class="calculator">
          <div class="calc-title">SEARCH BY NAME</div>
          <input class="calc-input" type="text" name="query" placeholder="CHARACTER NAME">

          <div class="calc-buttons">

          </div>
          <input type="submit" value="SEARCH" class="calc-input sub-button red" >
        </form>
      </aside>
      <aside class="mid-sec">

      </aside>
      <aside class="right-sec">

      </aside>
    </section>
  </article>
</section>
