
<header class="title-banner">
    <div class="title">CHARACTER PROFILE</div>
</header>
<section class="middle-banner">
  <article class="middle-body mb">
    <%= render partial: "layouts/nav" %>
    <section class="lower-sec">
      <aside class="left-sec mt-20">
      </aside>
      <aside class="mid-sec mt-20">
        <div class="result-t"><div class="result-title">SEARCH</div></div>
        <div class="result-box">
        </div>
      </aside>
      <aside class="right-sec mt-20">
      </aside>
    </section>
  </article>
</section>
