.one-half {
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center
}



.mid-fav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.font-med {
  font-size: 20px;
}

.font-big {
  font-size: 35px;
}

.hig-100 {
  height: 100%;
}

.her-card {
  display: flex;
  border-radius: 15px;
  width: 90%;
  font-family: 'Special Elite', cursive;
  color: white;
  background-color: black;
  margin-bottom: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.height-40 {
  height: 40px;
}

.add-flash {
  font-family: 'Merriweather Sans', sans-serif;
  color: rgb(224, 255, 229);
  font-size: 22px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;

}

.fav-form {
  width: 60%;
  height: 45px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.fav-but {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  font-size: 20px;
  color: white;

}

.tl-c {
  text-align: center;
}

.no-dec {
  text-decoration: none;
}

.blue-t {
  color: rgb(139, 230, 239);
}

.red-t {
  color: rgb(255, 172, 137);
}

.red-b {
  border: 2px solid rgb(255, 135, 84);
}

.blue-b {
  border: 2px solid rgb(92, 229, 242);
}

.h-50px {
  height: 50px;
}

.h-auto {
  height: auto;
}

.pad {
  padding: 15px;
}
