body {
  margin: 0;
  height: auto;
  background-color: rgb(15, 35, 54);
}

.title {
  font-size: 100px;
  font-family: 'Anton', sans-serif;
  margin: 0px;
}

.logout-link {
  display: inline-block;
  text-decoration: none;
}

.title-banner {
  padding-top: 10px;
  background-color: rgb(188, 27, 18);
  color: rgb(250,250,250);
  height: 12em;
  border: 4px solid rgb(188, 41, 41);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.desc {
  width: 100%;
  height: 8%;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 15px;
  font-family: 'Merriweather Sans', sans-serif;

}

.middle-banner {
  height: 45em;
  background-image: url('https://lumiere-a.akamaihd.net/v1/images/featuredvideo_avengersageofultron_background_a77b245f.jpeg?region=0,0,1024,385');
  background-repeat: no-repeat;
  background-size: cover;
}

.logout-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-banner {
  height: 100%;
}

.middle-body {
  height: 85%;
  display: flex;
  justify-content: center;
}

.cent-mid-body {
  height: 100%;
  width: 80%;
}

.top-cent {
  height: 48%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-fat {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 40%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 45px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 90px;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;

}

#chars-pic {
  background-image: url('marvel-characters.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.95;
  flex-shrink: 3;
}

#series-pic {
  background-image: url('marvel-series-crop.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.95;
  color: white;
  flex-shrink: 3;
}

.bottom-cent {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.button-flat {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 60%;
  border-radius: 45px;
  color: white;
  font-size: 90px;
  text-decoration: none;
  text-align: center;
  background-image: url('marvel-favorites.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.95;
  font-family: 'Anton', sans-serif;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
  flex-shrink: 3;
}
