.border {
  border: 2px solid red;
}

.one-third {
  width: 38%;
  flex-direction: column;
}

.one-fourth {
  width: 20%;
  flex-direction: column;
}

.sub-cat-title {
  width: 60%;
  height: 100%;
}

.sub-cat-small {
  width: 95%;
  height: 100%;
}

.height-15 {
  height: 8%;
}

.flex-c {
  display: flex;
  justify-content: center;
}

.hero-card-show {
  width: 95%;
  min-height: 600px;
  height: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(0, 14, 38);
}

.profile-pic {
  width: 80%;
  margin-bottom: 10px;
  border-radius: 15px;
}

.attr-box {
  font-family: 'Special Elite', cursive;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgb(211, 218, 229);
  margin: 15px;
  margin-bottom: 0;
}

.char-name {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 40px;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin: 10px;
}

.hero-descrip {
  padding: 10px;
}

.hero-relations {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.height-inc {
  height: auto;
}

.sub-cat-hero-card {
  border: 2px solid red;
  display: flex;
  border-radius: 15px;
  width: 90%;
  font-family: 'Special Elite', cursive;
  color: white;
  background-color: black;
  margin-bottom: 10px;
}

#char-event-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

#char-series-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.sub-hero-img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.sub-side-car {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: space-between;
}

.sub-title {
  margin-bottom: 10px;
}

.pad-0 {
}

.img-shrink {
  height: 50%;
  width: 50%;
}

.w {
  width: 85%;
}

.marg {
  margin-top: 25px;
  margin-bottom: 25px;
}

.directions {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dir-text {
  width: 100%;
  height: 50%;
  font-size: 40px;
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
  text-align: center;
  margin-right: 25px;
}
