.border {
  border: 2px solid red;
}

.one-third {
  width: 38%;
  flex-direction: column;
}

.one-fourth {
  width: 20%;
  flex-direction: column;
}

.sub-cat-title {
  width: 60%;
  height: 100%;
  padding: 10px;
}

.sub-cat-small {
  width: 95%;
  height: 100%;
  padding: 10px;
}

.height-15 {
  height: 10%;
}

.flex-c {
  display: flex;
  justify-content: center;
}

.hero-card-show {
  width: 95%;
  height: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 14, 38);
  padding-bottom: 20px;
  padding-top: 10px;
}

.profile-pic {
  width: 80%;
  margin-bottom: 10px;
  border-radius: 15px;
}

.attr-box {
  font-family: "Special Elite", cursive;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgb(211, 218, 229);
  padding: 8px;
  margin: 15px;
  margin-bottom: 15px;
}

.char-name {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 35px;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin: 10px;
}

.hero-descrip {
  padding: 10px;
}

.hero-relations {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 15px;
}

.height-inc {
  height: auto;
}

.sub-cat-hero-card {
  display: flex;
  border-radius: 15px;
  width: 100%;
  font-family: "Special Elite", cursive;
  color: white;
  background-color: black;
  margin-top: 10px;
}

#char-event-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

#char-series-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.sub-hero-img {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}

.sub-side-car {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
}

.sub-title {
  margin-bottom: 10px;
}

.img-shrink {
  height: 50%;
  width: 50%;
}

.w {
  width: 85%;
}

.marg {
  margin-top: 25px;
  margin-bottom: 25px;
}

.directions {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dir-text {
  width: 100%;
  height: 50%;
  font-size: 40px;
  font-family: "Merriweather Sans", sans-serif;
  color: white;
  text-align: center;
  margin-right: 25px;
}

.title-bigger {
  font-size: 20px;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 80%;
}

.red-b {
  border: 2px solid rgb(255, 135, 84);
}

.blue-b {
  border: 2px solid rgb(92, 229, 242);
}

.pt-10 {
  padding-top: 10px;
}

.m-none {
  margin-left: 0;
  padding-left: 5;
  text-align: left;
}

.it {
  display: flex;
  flex-wrap: wrap;
}

.small-desc {
  font-size: 10px;
}

@media only screen and (max-width: 1550px) {
  .dir-text {
    font-size: 20px;
  }

  .attr-box {
    font-size: 10px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .char-name {
    font-size: 20px;
  }

  .result-title {
    font-size: 15px;
  }

  .sub-cat-small {
    font-size: 15px;
  }

  .sub-cat-title {
    font-size: 15px;
  }

  .sub-side-car {
    font-size: 7px;
  }

  .small-desc {
    font-size: 7px;
  }

  .title-bigger {
    font-size: 10px;
  }

  .sub-hero-img {
    width: 40%;
  }

  .sub-cat-hero-card {
    height: 130px;
  }
}
