<ul class="list m-none">
  <h3 class="list-title">Popular Series Searches</h3>
  <li class="item">The Amazing Spider-Man</li>
  <li class="item">The Incredible Hulk</li>
  <li class="item">The Avengers</li>
  <li class="item">Daredevil</li>
  <li class="item">The Punisher</li>
  <li class="item">Captain Marvel</li>
  <li class="item">Luke Cage</li>
</ul>
