<% @presenter.series_events.each do |event| %>
<article class="sub-cat-hero-card w-90 red-b">
  <img src="<%= event.thumbnail_small %>" alt="" class="sub-hero-img">
  <article class="sub-side-car">
    <div class="sub-title"><span class="ul">Title</span>: <span class="title-bigger blue-t"><%= event.title %></span></div>
    <div class="small-desc"><span class="ul">Description</span>: <span><%= event.description %></span></div>
    <a href="<%= event.more_info %>" class="pt-10">More Info</a>
  </article>
</article>
<% end %>
