<script type="text/javascript">
    var box = $('.result-box')
    if(box.children().length === 0){
      box.append(`<div class="directions"><div class="dir-text">
        Use the Calculator to the left to search by name/title or click on one of the buttons to search by that letter.
      </div></div>`)
    }
</script>
